html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: hsl(210, 80%, 90%);
}
#app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px 24px;
}
.cost-calculator {
  font-family: Arial, sans-serif;
  flex: 1;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
button {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.split-button {
  padding: 10px 20px;
  width: 100%;
  background-color: hsl(210, 80%, 70%);
}
.split-button:hover {
  background-color: hsl(210, 80%, 60%);
}
.add-button {
  padding: 0;
  width: 40px;
  background-color: hsl(120, 80%, 70%);
}
.add-button:hover {
  background-color: hsl(120, 80%, 60%);
}
.add-income, .add-expense {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.remove-button {
  padding-left: 20px;
  height: 30px;
  background-color: transparent;
  color: hsl(10, 90%, 50%);
}
.remove-button:hover {
  color: hsl(10, 90%, 40%);
}
input[type="number"] {
  font-size: 1rem;
  padding: 5px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.8);
  max-width: 30%;
}
input[type="text"] {
  font-size: 0.75rem;
  padding: 5px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.8);
}
ul {
  padding: 0;
  width: 100%;
  max-width: 500px;
}
li {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}
.text {
  flex: 1;
}
footer {
  text-align: center;
}
